location                 = "westeurope"
resource_group_name      = "rg-vfab"
acr_name                 = "ca81b3cb0669acr"
container_env_name       = "vfab-container-env"
backend_name             = "vfab-hitl-backend"
frontend_name            = "vfab-hitl-frontend"
container_image          = "ca81b3cb0669acr.azurecr.io/hitl-email-assistant:latest"

azure_openai_endpoint    = "https://<your-openai-resource>.openai.azure.com/"
azure_openai_chat_model  = "gpt-4o"
azure_openai_api_version = "2024-12-01-preview"
azure_openai_api_key     = "<your-azure-openai-api-key>"
